<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de productos</title>
</head>
<body>
    <h3>Gestión de productos</h3><br>
    <a href="/agregaproducto">Agregar un producto nuevo</a><br>
    <table border>
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Saldo</th>
            <th>Foto</th>
            <th>Operaciones</th>
        </thead>
        <tbody>
            {% for p in productos %}
            <tr>
                <td>{{p[0]}}</td>
                <td>{{p[1]}}</td>
                <td>{{p[2]}}</td>
                <td>{{p[3]}}</td>
                <td>
                    <img width="100" height="100" src="/uploads/{{p[4]}}">
                      
                </td>
                <td>
                    <a href="/modificaproducto/{{p[0]}}">Modificar</a>
                    <a onclick="return confirm('Seguro elimina este producto?')" href="/borraproducto/{{p[0]}}">Borrar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>